{{>partials/header}}

<h2>Digite seu email:</h2> 
<form method="POST" action="forms2-senha">
    <input type="email" name="email" placeholder="digite seu nome">

<h2>Digite sua senha:</h2>
    <input type="senha" name="senha" placeholder="digite sua senha">
    <input type="submit" value="Enviar">
</form>

{{>partials/footer}}